.calculator {
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-gap: 5px;
    max-width: 768px;
    max-height: 753px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

}



.displayContainer > div{
    display: flex;
    font-size: 3em;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.displayContainer {
    grid-column: 1 / -1;
    background: gray;
}

.resultContainer {
    cursor: pointer;
    grid-column: 4 / -1;
    grid-row: 3 / -1;
    user-select: none;
    background: orange;
    background: -moz-linear-gradient(top, #FFA500 0%, #FF8C00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFA500 0%,#FF8C00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFA500 0%,#FF8C00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA500', endColorstr='#FF8C00',GradientType=0 ); /* IE6-9 */   
}


.operatorBtn {
    cursor: pointer;
    user-select: none;
    color: #fff;
}

.valueBtn {
    cursor: pointer;
    color: #666;
    user-select: none;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */   
}

.clearBtn {
    background: tomato;
    user-select: none;
}


@media (min-width: 768px) {
    .calculator {
        border: 4px solid black;
    }

    .resultContainer{
        border-radius: 0 0 10px 0;
    }

    .displayContainer {
        border-radius: 10px 10px 0 0;
    }

    .calculator > .valueBtn:nth-child(15) {
        border-radius: 0 0 0 10px;
    }

    .calculator:before {
        content: "";
        position: absolute;
        top: 150px;
        left: 135px;
        right: -135px;
        bottom: 0;
        background: rgba(0,0,0,.3);
        border-radius: 10px;
        transform: skew(-25deg);
        filter: blur(15px);
        z-index: -1;
    }

}