.calculator {
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-gap: 5px;
}

.displayContainer > div{
    display: flex;
    font-size: 3em;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.displayContainer {
    grid-column: 1 / -1;
    background: gray;
}

.resultContainer {
    cursor: pointer;
    grid-column: 4 / -1;
    grid-row: 3 / -1;
    background: orange;
}


.operatorBtn {
    cursor: pointer;
}

.valueBtn {
    cursor: pointer;
    background: #aaa;
}